<footer>
  <div class="footer-wrapper">
    <!-- Footer Navigation Menu -->
    <nav>
      <ul class="footer-menu">
        {% for link in linklists.footer-menu.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <!-- Social Media Links -->
    <div class="social-media">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://twitter.com" target="_blank">Twitter</a>
    </div>

    <!-- Copyright Info -->
    <div class="copyright">
      <p>&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}. All rights reserved.</p>
    </div>
  </div>
</footer>
